.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-background {
  background-color: #282c34;
}
.App-background-second {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #a4c3cc;
  
}
.App-link {
  color: #a4c3cc;
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.App-list {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 150px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
